@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

* {
  margin:0;
  padding:0;
  box-sizing: border-box;
}

body {
  max-width: 2000px;
  margin:0 auto;
  overflow-x: hidden;

}

.clip-path {
  clip-path: inset(0 0 0 50%);
}

.clip-path-reverse {
  clip-path: inset(0 50% 0 0);
}

.clip-bottom-right {
  clip-path: polygon(0 3%, 100% 0%, 100% 100%, 0 97%);
}

/* .clip-top-right {
  clip-path: polygon(0 0, 100% 0, 100% 95%, 0 100%);
} */
